:root {
  --black: #141413;
  --white: #FAFAF8;
  --coral: hsl(15, 57%, 58%);
  --dark-gray: hsl(60, 1%, 14%);
  --light-gray: hsl(60, 1%, 80%);
  --text: var(--black);
  --bg: #EFEFEF;
  --header-bg: var(--white);
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --button-bg: var(--coral);
  --button-text: var(--white);
  --get-recipe-cont-bg: hsl(48, 9%, 89%);
  --recipe-text: hsl(216, 18%, 23%);
  --claude-recommends: hsl(15, 87%, 53%);
  color: var(--text);
  background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #EFEFEF;
    --bg: #141413;
    --header-bg: #080808;
    --box-shadow: 0 1px 3px 0 rgba(255 255 255 0.10), 0 1px 2px 0 rgba(255 255 255 0.06);
    --input-bg: var(--dark-gray);
    --input-text: var(--white);
    --get-recipe-cont-bg: hsl(48, 10%, 9%);
    --recipe-text: hsl(216, 25%, 82%);
    --claude-recommends: hsl(15 80% 80%);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body, h1, h2, h3, p {
  font-weight: 400;
  margin: 0;
}

body, header, main {
  margin-inline: auto;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--bg);
  padding-bottom: 2rem;
}

h2, .suggested-recipe-container h1 {
  font-weight: 500;
}

h2 {
  font-size: clamp(1.15rem, 0.7rem + 2vw, 1.5rem);
  margin-block: 0.9em 0.2em;
}

p, li {
  font-size: 1rem;
  letter-spacing: 0.015em;
  margin-bottom: 0.4rem;
}

ul, ol {
  margin-block: 0.5rem 1rem;
}

strong {
  font-weight: 650;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--header-bg);
  height: 6rem;
  box-shadow: var(--box-shadow);
}

header.h1 {
  font-size: 2rem;
  letter-spacing: -5%;
}

.chef-icon {
  display: inline;
  width: 2.68rem;
}

main {
  padding: 30px 30px 10px;
  max-width: 900px;
}

.add-ingredient-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-inline: auto;
}

.add-ingredient-form > *, .get-recipe-container button {
  height: 38px;
  border-radius: 6px;
}

.add-ingredient-form > input {
  flex: 3 0 250px;
  color: var(--input-text);
  padding: 9px 13px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--input-bg);
  border: 1px solid #D1D5DB;
}

button {
  border: none;
  color: var(--button-text);
  background-color: var(--button-bg);
  font-weight: 500;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.add-ingredient-form > button {
  flex: 1 0 140px;
  padding-inline: .5rem;
}

.add-ingredient-form > button::before {
  content: "+";
  font-size: 1.1em;
  font-weight: 600;
  margin-right: 5px;
}

section {
  margin-top: 1.5rem;
}

.get-recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--get-recipe-cont-bg);
  padding: 0.75rem 1.2rem;
  margin-block: 2.5rem 2.25rem;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.get-recipe-container button {
  padding-inline: 1.25rem;
}

.suggested-recipe-container {
  color: var(--recipe-text);
  line-height: 1.6;
  margin-top: .5rem;
}

.suggested-recipe-container h1 {
  font-size: clamp(1.2rem, 0.5rem + 3.5vw, 1.9rem);
  line-height: 1.3;
  margin-block: 0.6em 0.3rem;
}

.recipe-section {
  margin-top: 2.75rem;
}

.recipe-section ol > li {
  line-height: 1.7;
  margin-bottom: 0.8rem;
}

.recipe-section p:not(li>p) {
  font-size: 0.95rem;
  font-weight: 350;
  margin-top: 0.5rem;
}

.recipe-section > p:first-of-type {
  font-size: clamp(0.95rem, 0.35em + 2.2vw, 1.2rem);
  font-style: italic;
  color: var(--claude-recommends);
}